@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    font-family: "Nunito Sans";
}
#header{
    padding: 6px 25px;
    border-bottom-style: solid;
}
#header img{
    width: 100px;
}
#header img:hover{
    rotate: 360deg;
    transition: 0.25s;
}
#header a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
#header a h1{
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
#header a h1:hover{
    letter-spacing: 3px;
    transition: 0.25s;
}
h1{
    display: inline;
    font-family: "Oswald";
}
#content{
    padding: 48px;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu-item{
    border-style: solid;
    margin-bottom: 8px;
    border-width: 3px;
    border-radius: 8px;
    background-color: black;
}   
.menu-item.selected{
    border-color:red;
}
.menu-item p{
    color: white;
}
.menu-img{
    width: 300px;
    height: 200px;
    background-size:cover;
    border-radius: 8px;
}
p{
    text-align: center;
}
